[commit]
	gpgsign = true
[core]
	editor = hx
[init]
	defaultBranch = main
[merge]
	conflictStyle = diff3
[gpg]
	program = gpg2
[user]
	signingkey = 989325947F8FC97B
	email = oscar.pepper1@gmail.com
	name = Oscar Pepper
